.git
.github
.gitignore
.env
README.md
docker-compose.yml
frontend/node_modules
frontend/.nuxt
frontend/.output
backend/vendor
backend/node_modules
backend/storage/app/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
storage/*
*.log 